{% extends "base/base.html" %}

{% block tittle %}
	Detalle Ticket
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'registros_namespace:ticket-listar' %}" class="btn btn-success">Volver</a>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-4 offset-4">
                    <h2>Ticket # {{ticked_id}}</h2>
                </div>
                <div class="col-4 offset-4">
                    {{form.as_table}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsFiles %}
    <script>
        $(document).ready(function() {
            $('#id_titulo').prop( "disabled",true);
            $('#id_descripcion').prop( "disabled",true);
            $('#id_estado').prop( "disabled",true);
        });
    </script>
{% endblock %}